<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yykj.echarts.dao.ICityDao">

    <select id="getCities" resultType="com.yykj.echarts.pojo.City">
        select * from city_sales
    </select>

</mapper>